{% extends 'two/basic.html' %}
{% load static %}
{% block con %}
<div class="container">
    {% for i in food %}
    <div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ i.adr }}</h6>
         <p class="card-text">리뷰: {{ i.re_cnt }}개 </p>
         <p class="card-text">평점: {{ i.avg_score }}점 </p>
        <a href="{% url 'food-detail' id=i.id%}" class="card-link">상세보기</a>
        <a href="{% url 'food-update' %}?id={{ i.id }}" class="card-link">수정</a>
    </div>
    {% endfor %}

    {% if food.has_previous %}
        <a href="?page=1">&laquo;</a>
        <a href="?page={{ food.previous_page_number }}">
            {{ food.previous_page_number }}
        </a>
    {% endif %}

        {{ food.number }}

    {% if food.has_next %}
        <a href="?page={{ food.next_page_number }}">
            {{ food.next_page_number }}
        </a>
        <a href="?page={{ food.pa.num_pages }}">&raquo;</a>
    {% endif %}
</div>
    {% endblock %}
</div>

